<div class="row">
    <div class="product-info col-md-4" *ngFor="let p of products">
        <div class="product-card bg-light">
            <div class="product-img-wrapper">
                <img class="product-img" src="/img/{{ p.artId }}.jpg" [alt]="p.title" />
            </div>  
            <div class="product-title">{{ p.category }} - {{ p.size }}</div> 
            <div><strong>Price:</strong> {{ p.price | currency }}</div>
            <div><strong>Artist:</strong> {{ p.artist }}</div>
            <div><strong>Title:</strong> {{ p.title }}</div>
            <div><strong>Description:</strong> {{ p.artDescription }}</div>
            
            <div class="product-button d-flex justify-content-center">
                <button id="buyButton" class="btn btn-success">Buy</button>
            </div>            
        </div>        
    </div>
</div>