<div class="row">
    <div class="product-info col-md-4" *ngFor="let p of products">
        <div class="card bg-light">
            <img src="/img/{{ p.artId }}.jpg" [alt]="p.title" />
            <h3>{{ p.category }} - {{ p.size }}</h3>
            
            <div><strong>Price:</strong> {{ p.price | currency }}</div>
            <div><strong>Artist:</strong> {{ p.artist }}</div>
            <div><strong>Title:</strong> {{ p.title }}</div>
            <div><strong>Description:</strong> {{ p.artDescription }}</div>
            
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>        
    </div>
</div>